@import "./generals/_variables.scss";
@import "./generals/_normalize.scss";
@import "./generals/_mixins.scss";

@import"./scss-components/IdeaText.scss";
@import"./scss-components/Katigoria.scss";
@import "./scss-components/footer.scss"