@import "./generals/_variables.scss";
@import "./generals/_normalize.scss";
@import "./generals/_mixins.scss";

@import "./scss-components/_header.scss";
@import "./scss-components/_cartPage.scss";
@import "./scss-components/_cartWithItems.scss"
