@import "./generals/_variables.scss";
@import "./generals/_normalize.scss";
@import "./generals/_mixins.scss";

@import "./components/Banner"
@import "./components/header";
@import "./scss_components/_cartPage.scss";
@import "./scss_components/_cartWithItems.scss"
