* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#root {
    width: 100%;
    height: 100%;
    background-color: #f2f3f5;   
}

.container {
    max-width: 1440px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
    background-color: transparent;
    border: none;
}