.banner__wrap {
    width: 100%;
    gap: 18px;
    display: flex;
}

.banner__card{
    width: 50%;
    height: 100%;
}

.banner__card-mini {

    width: 25%;

    img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }
}

.swiper {
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  justify-content: space-between;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
    border-radius: 10px;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width:1100px) {
    .banner__card-mini{
        display: none;
    }

    .banner__card{
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 90%;
        height: 100%;
    }


}