.favourite {
    &__wrap {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    &__title {
        font-weight: 600;
        letter-spacing: -.02em;
        font-size: 24px;
    }

    &__subtitle {
        font-size: 14px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    &__button {
        align-items: center;
        background-color: #dd1470;
        border: 1px solid #dd1470;
        border-radius: 8px;
        color: #fff;
        display: inline-flex;
        flex-wrap: nowrap;
        font-size: 14px;
        font-weight: 600;
        justify-content: center;
        line-height: 1.2;
        padding: 14px 36px;
        text-align: center;
        transition: all .3s ease;
    }
}