.FavWithItems {
  &__wrap {
    @include d-flex(column, flex-start, unset, 24);

  }

  &__itemCard {
    @include d-flex(row, center, unset, 0);
    width: 1000px;
    padding: 24px;
    border-radius: 12px;
    background-color: #fff;
  }

  &__img {
    width: 120px;
    height: 120px;

    img {
      width: 100%;
    }
  }

  &__content {
    @include d-flex(row, center, space-between, 0);
    width: 100%;
    
  }

  &__content-left {
    @include d-flex(column, unset, unset, 8);
  }

  &__price {
    @include d-flex(row, center, unset, 8);
    font-size: 18px;
    font-weight: 700;

    p{
      font-size: 13px;
      font-weight: 500;
      letter-spacing: -.03em;
      line-height: 1.2;
    }
  }

  &__paymentBtn {
    @include d-flex();
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.03em;
    padding: 6px 12px;
    color: #fff;
    background-color: #dd1470;
    border-radius: 30px;
    width: 115px;
    fill: #fff;
  }

  &__name {
    font-size: 16px;
    transition: all 0.2s ease;

    &:hover {
      color: #dd1470;
    }
  }

  &__itemCode {
    font-size: 14px;
    color: #828282;
  }

  &__content-right {
    @include d-flex(row, center, center, 32);
  }

  &__content-icons {
    @include d-flex(row, center, center, 24);
  }

  &__content-icon {
    opacity: 0.4;
    transition: all 0.2s ease-in-out;

    &:hover {
      opacity: 1;
      fill: #dd1470;
      color: #dd1470
    }
  }

  &__let-count {
    @include d-flex(row, center, center, 16);
  }

  &__minus-btn,
  &__plus-btn {
    width: 32px;
    height: 32px;
    font-size: 19px;
    background-color: #f6f6f6;
    border: 1px solid #f6f6f6;
    border-radius: 8px;
    transition: all 0.3s ease;

    &:hover {
      color: #dd1470;
      border-color: #dd1470;
      background-color: #fff;
    }
  }

  &__formalizeCard {
    @include d-flex(column, unset, unset, 8);
    background-color: #fff;
    border-radius: 12px;
    padding: 24px;
    width: 300px;
    height: 310px;
  }

  &__formalizeCard-title {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -0.01em;
    line-height: 1.2;
  }

  &__formalizeCard-name {
    font-size: 14px;
    font-weight: 600;
    margin-top: 8px;
  }

  &__formalizeCard-price {
    @include d-flex(row, center, space-between, 24);
    font-size: 14px;
  }

  &__formalizeCard-paymentInfo {
    @include d-flex(row, center, space-between, 24);
    font-size: 14px;
  }

  &__formalizeCard-pay {
    font-weight: 600;
  }

  &__formalizeCard-totalPrice {
    @include d-flex(row, center, flex-end, 0);
    font-size: 14px;
    font-weight: 600;
  }

  &__formalizeCardBtn {
    background-color: #dd1470;
    border: 1px solid #dd1470;
    border-radius: 8px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.2;
    padding: 14px 36px;
    margin-top: 24px;
    transition: all 0.3s ease;

    &:hover {
      background-color: #a60f54;
    }
  }
}
