.footer__wrap {
  width: 100%;
  height: 330px;
  background-color: rgb(41, 56, 78);

  @media screen and (max-width: 1478px) {
    width: 1476px;
  }

  @media screen and (max-width: 1456px) {
    width: 1446px;
  }
}

.footer__logo {
  padding: 50px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.footer__card {
  display: flex;
}

.footer__card-title {
  font-size: 20px;
  color: white;
}

.footer__card-item {
  display: flex;
  gap: 15px;
  flex-direction: column;
  margin-left: 210px;
}

.footer__subtitle {
  font-size: 14px;
  color: gray;
  font-family: sans-serif;
  transition: 0.5s;
}

.footer__subtitle:hover {
  color: palevioletred;
}

.footer__button {
  width: 140px;
  height: 40px;
  border-radius: 5px;
  font-size: 15px;
  border: 1px solid white;
  color: white;
}

.footer__button:hover {
  border: 1px solid rgb(146, 9, 55);
  color: rgb(150, 13, 59);
  transition: all 0.3s ease-in-out;
}

.footer__title {
  color: white;
  font-family: sans-serif;
  font-size: 20px;

  @media screen and (max-width: 1456px) {
    font-size: 16px;
  }
}

.footer__title:hover {
  color: palevioletred;
  transition: all 0.3s ease-in-out;
}

.footer__logo-item {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 0.2px solid grey;
  border-radius: 50%;
}

.footer__logo-item:hover {
  border: none;

  svg {
    fill: white;
  }
}

.footer__face-item {
  width: 40px;
  height: 40px;
  border: 1px solid grey;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.idea {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footer__insta-item {
  width: 40px;
  height: 40px;
  border: 1px solid grey;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__insta-item:hover {
  border-radius: 50%;
  border: none;

  svg {
    background: linear-gradient(yellow, red, rgb(201, 109, 124));
    border-radius: 50%;
    border: none;
    color: white;
  }
}

.footer__face-item:hover {
  background-color: rgb(60, 105, 255);
  border: none;

  svg {
    fill: white;
  }
}

.footer__icon {
  display: flex;
  gap: 8px;
}

.boot {
  color: gray;
  margin-left: 200px;
  margin-top: 20px;
  font-size: 17px;
  font-family: sans-serif;
}
