.ideatext__wrap {
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .ideatext__title {
     margin-bottom: 30px;
     background: white;
     padding-left: 23px;
     border-radius: 12px;
 }

 .ideatext__maishiy_texnika {
     padding-top: 20px;
     margin-bottom: 18px;
 }

 .ideatext__internet-dokon {
     font-size: 16px;
     padding-bottom: 20px;
 }

 .ideatext__idea-dokoni {
     font-size: 16px;
     padding-bottom: 20px;
 }

 .ideatext__nega-mijoz {
     padding-bottom: 20px;
     font-size: 25px;
 }

 .ideatext__mijozlarimiz {
     padding-bottom: 20px;
     font-size: 16px;
 }

 .ideatext__ideauz {
     padding-bottom: 20px;
     font-size: 23px;

 }

 .ideatext__list {
     display: flex;
     flex-direction: column;
     gap: 15px;
     padding-left: 28px;
     padding-bottom: 20px;
 }

 .ideatext__intrnt__idea-dkn {
     padding-bottom: 20px;
     font-size: 16px;
 }

 .ideatext__uzb {
     padding-bottom: 20px;
     font-size: 16px;
 }