 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 html,
 body {
     width: 100%;
     height: 100%;
 }


 .container {
     max-width: 1370px;
     font-family: sans-serif;

 }

 .ideatext__wrap {
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .ideatext__title {
     margin-bottom: 30px;
     height: 630px;
     width: 1370px;
     background: white;
     padding-left: 23px;
     border-radius: 12px;
 }

 .ideatext__maishiy_texnika {
     padding-top: 20px;
     margin-bottom: 18px;
 }

 .ideatext__internet-dokon {
     font-size: 16px;
     padding-bottom: 20px;
 }

 .ideatext__idea-dokoni {
     font-size: 16px;
     padding-bottom: 20px;
 }

 .ideatext__nega-mijoz {
     padding-bottom: 20px;
     font-size: 25px;
 }

 .ideatext__mijozlarimiz {
     padding-bottom: 20px;
     font-size: 16px;
 }

 .ideatext__ideauz {
     padding-bottom: 20px;
     font-size: 23px;

 }

 .ideatext__list {
     display: flex;
     flex-direction: column;
     gap: 15px;
     padding-left: 28px;
     padding-bottom: 20px;
 }

 .ideatext__intrnt__idea-dkn {
     padding-bottom: 20px;
     font-size: 16px;
 }

 .ideatext__uzb {
     padding-bottom: 20px;
     font-size: 16px;
 }