* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}



.container {
    max-width: 1440px;
    font-family: sans-serif;
}

.katigoria {
    width: 100%;
}

.katigoria__wrap {
    display: flex;
    width: 100%;
}

.katigoria__cards {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 80%;
    flex-wrap: wrap;
}

.katigoria__card {
    padding: 15px;
    width: calc(33.3% - 15px);
    height: 150px;
    background-color: rgb(92, 89, 89);
    border-radius: 12px;
    color: black;
    transition: all .3s ease-in-out;
    
}

.katigoria__card:hover {
    color: white;
    background-color: rgb(50, 64, 54);
}

.kategoria__img {
    width: 100%;
    height: 100%;

    img {
        width: 100px;
        height: 100px;
        margin-left: 240px;
        margin-top: 20px;
    }
}

.popular-searches {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    width: 290px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    font-family: sans-serif;
}


.popular-searches h3 {
    font-size: 18px;
    font-weight: 600;
    color: #222;
    margin-bottom: 15px;
}

.popular-searches ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.popular-searches li {
    margin-bottom: 10px;
}

.popular-searches a {
    text-decoration: none;
    color: #333;
    font-size: 15px;
    transition: color 0.2s ease;
}

.popular-searches a:hover {
    color: rgb(249, 122, 143);
}


@media screen and (max-width:992px) {
    .katigoria{
        display: none;
    }
}